@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

:root {
    color: #333;
    font-family: 'IBM Plex Sans', sans-serif;
    --default-card-colour: #e9ebf7;
    --action-primary: #2e0e4e;
    --action-primary-text: #fff;
}


body {
    margin: 0;
}

h1 {
    text-transform: uppercase;
    font-size: 1.25rem;
}

div#root {
    background: #f8f8f8;
    padding: 1rem;
}

.dashboardCard {
    display: grid;
    gap: 1rem;
}

.dashboardCard h1 {
    margin: 0
}

.dashboardCard,
.roundedCard {
    border-radius: 1rem;
    padding: 1.5rem;
}

.gridChart {
    display: grid;
    gap: 3px;
    width: max-content;
    height: max-content;
    font-size: 0.6rem;
    text-transform: uppercase;
}

.gridChart,
.gridChart li {
    margin: 0;
    padding: 0;
}

.gridChart li {
    height: var(--dot-size);
    width: var(--dot-size);
    background: #ffab03;
    display: inline-block;
}

legend {
    font-size: 0.8rem;
    margin: 0.5rem 0;
}

legend div {
    height: 0.5rem;
    width: 0.5rem;
    display: inline-block
}

.chartPanel {
    display: grid;
    gap: 0.5rem;
    justify-items: center;
}

.chartControls {
    margin: auto;
    width: max-content
}

label {
    margin: 0 3px 0 1rem;
}

button {
    border: 0;
    border-radius: 3px;
    font-family: unset;
    transition: all 0.2s;
    cursor: pointer;
}

button.iconButton {
    margin: 0;
    padding: 5px;
    background: #00000010;
}

button.iconButton {
    margin: 0;
    padding: 5px;
    background: #00000020;
}

button.iconButton img {
    height: 0.8rem;
}

button:not(.iconButton) {
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    background: var(--action-primary);
    color: var(--action-primary-text);
}

button:not(.iconButton):hover {
    transform: translateY(-2px);
    filter: drop-shadow(0px 4px 2px #00000040) brightness(1.5);
}

div.collapsible {
    padding: 0.5rem 2rem;
    position: relative;
    width: 100%;
    box-sizing: border-box;
}

div.fiatLabel {
    text-align: center;
    font-size: 0.8rem;
    font-weight: bold;
}